@reference "tailwindcss";

@layer components {
  .nav-btn {
    @apply block w-full px-4 py-3 rounded-lg
           bg-slate-800 text-slate-100 font-medium
           hover:bg-slate-700 transition;
  }
}
